body {
    background-color: #FCF8E8;
}

hr {
    /* width: 15%;
    border-top: dotted 10px; */

    border-style: none;
    border-top-style: dotted;
    border-color: #ECB390;
    border-width: 5px;
    width: 5%
}

h1, h3 {
    color: #DF7861;
}

