body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}


.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Navigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.2rem;
}

/* Download Buttons */
.downloadBtn {
    margin: 5% 3% 5% 0;
}

/* title image */
#iPhoneDog {
    width: 25% !important;
    /* figure out why position absolute increases the size of the image */
    transform: rotate(25deg);
    position: relative;
    position: absolute;
}

/* Features Section */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.featureCols {
    padding: 5%;
}

.featureFA {
    color: #ef8172;
    margin-bottom: 1rem;
}
.featureFA:hover {
    color: #ff4c68;
}

.featruesTitle {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.featuresTxt {
    color: #8f8f8f;
}

/* testimonials section */
#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */
#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
    text-align: center;
    padding: 100px;
}

#pricingCards {
    padding: 3% 2%;
}

.conversionBtn {
    /* position: relative;
    bottom: 0px; */
}